@model EstadoLeilao

@{ 
    LeilaoViewModel leilao = ViewData["Leilao"] as LeilaoViewModel;
    Usuario usuarioLogado = ViewData["UsuarioLogado"] as Usuario;
    TimeSpan comecaEm = DateTime.Now - leilao.InicioPregao;
    int idInteressada = -1;
    bool interessadaLogada = (usuarioLogado != null && usuarioLogado.Interessada != null);
    if (interessadaLogada)
    {
        idInteressada = usuarioLogado.Interessada.Id;
    }
}

<div class="card estado">
    <div class="brown darken-3 white-text center-align">
        <h4>
            <i class="fas fa-hourglass-start"></i>
        </h4>
        <h5>@Model.ParaTexto()</h5>
        <p>Começa em @comecaEm.Humanize().</p>
    </div>
    <div class="center-align brown-text text-darken-3" data-idLeilao="@leilao.Id" data-idInteressada="@idInteressada">
        <h6>Valor Inicial</h6>
        <h5>@leilao.ValorInicial.ToString("C", CultureInfo.CurrentCulture)</h5>
        @if (interessadaLogada)
        {
            if (leilao.SendoSeguido)
            {
                <p>Você já está seguindo esse leilão.</p>
                <button class="btn waves-effect waves-light brown darken-3 btn-flat white-text abandonar">
                    Abandonar!
                </button>
            }
            else
            {
                <p>Você não está seguindo esse leilão.</p>
                <button class="btn waves-effect waves-light brown darken-3 btn-flat white-text seguir">
                    Seguir!
                </button>
            }

        }
    </div>
</div>